@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrosel.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-do-fundo: #EBECEE;
    --cor-da-caixa-titulo: #002F52;
    --cor-titulos: #EB9B00;
    --branco: #FFFFFF;
    --fonte-principal: "Poppins";
}

body{
    background: var(--cor-do-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

