.baner{
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}

.baner-titulo{
    font-size: 18px;
    font-weight: 700;
}

.baner-texto{
    font-weight: 500;
    margin: 1em 0;
}

.baner-pesquisa{
    width: 100%;
    padding: 1em;
    color: var(--branco);
    border-radius: 50px;
    background: var(--azul-degrade);
    border: 1px solid var(--branco);
    margin-top: 1em;
}

.baner-pesquisa::placeholder{
    font-family: var(--fonte-principal);
    color: var(--branco);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background-image: url(../imagens/Pesquisa.svg);
    background-repeat: no-repeat;
    background-position: 1em;
}

@media screen and (min-width: 1024px) {
    .baner-titulo{
        font-size: 37px;
    }
    
    .baner-pesquisa{
        width: 50%;
    }

    .baner-pesquisa::placeholder{
        background-position: 5.5em;
    }

    .baner{
        padding: 4.5em 4em;
    }
}

@media screen and (min-width: 1728px) {
   
    .baner-pesquisa::placeholder{
        background-position: 12em;
    }

    .baner-pesquisa{
        width: 38%;
    }

}