.cabecalho-menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(../imagens/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    padding: 2.5em;
}

.conteiner-menu:checked~.container-rotulo>.cabecalho-menu-hamburguer{
    background-image: url(../imagens/menu_black_24dp1.png);
}

.conteiner-menu:checked~.container-rotulo{
    background: var(--azul-degrade);
}

.cabecalho{
    background-color: var(--branco);
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.conteiner{
    display: flex;
    align-items: center;
}

.conteiner-menu{
    display: none;
    
}

.conteiner-imagem{
    padding: 1em 0.5em;
}

.lista-menu{
    display: none;
    list-style-type: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.conteiner-menu:checked ~ .lista-menu{
    display: block;
    
}

.lista-menu-link{
    text-decoration: none;
}

.lista-menu-titulo,
.lista-menu-item{
    padding: 1em;
    background: var(--branco);
    font-size: 16px;
}

.lista-menu-titulo{
    color: var(--cor-titulos);
    font-weight: 700;
}

.lista-menu-link{
    background: var(--cor-da-caixa-titulo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.conteiner-titulo{
    display: none;
}

.opcoes{
    display: none;
}

.container-texto{
    display: none;
}

@media screen and (min-width: 1024px) {

    .conteiner-titulo, .conteiner-titulo---negrito{
        font-family: var(--font-secundaria);
        font-size: 30px;
    }

    .conteiner-titulo{
        font-weight: 400;
        display: block;
    }

    .conteiner-titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
        
    }

    .opcoes-item{
        padding: 10px 1em;
        text-transform: uppercase;
        list-style-type: none;
    }

    .opcoes-item:hover{
        cursor: pointer;
    }

    .opcoes-botao:checked~.opcoes-rotulo>.opcoes-item{
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes-link{
        text-decoration: none;
        color: var(--preto);
    }

    .coracao{
        display: none;
    }

    .cabecalho-menu-hamburguer{
        display: none;
    }

    .opcoes-botao:checked~.lista-menu{
        display: block;
        width: auto;
    }

    .opcoes-botao{
        display: none;
    }

    .lista-menu{
        top: 75%;   
    }

    .lista-menu-item:hover{
        background: var(--azul-degrade);
    }

    .lista-menu-item:hover>.lista-menu-link{
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

    .lista-menu-azul{
        background: var(--azul-degrade);
        
    }

    .lista-menu-link-branco{
        background: var(--branco);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}

@media screen and (min-width: 1728px) {
    .container-link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    
    .cabecalho{
        padding: 0 2em;
    }

    .opcoes{
        margin-right: auto;
        margin-left: 40px;
    }

    .container-texto{
        display: block;
    }
}