.topicos{
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0;
}

.topicos-titulo{
    color: var(--branco);
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 1em;
}

.topicos-lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos-item{
    list-style-type: none;
    margin: 1em 0.7em;
    
}

.topicos-link{
    text-decoration: none;
    color: var(--branco);
    background-color: var(--cor-titulos);
    padding: 0.8em;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .topicos-titulo{
        font-size: 24px
    }

    .topicos-item{
        margin: 2em 0.7em;
    }

    .topicos-link{
        font-size: 24px;
        
    }
    
}

@media screen and (min-width: 1728px){
    .topicos{
        padding: 3em 30vw;
    }
}